.vue-scrollbar__wrapper {
  background: transparent;
}

.ivu-table-noborder {
  border: none;
  .ivu-table:after {
    width: 0;
  }
}
.ivu-table-dishover {
  .ivu-table-row-hover {
    td {
      background: none;
    }
  }
  td {
    &:hover {
      background: #ebf7ff;
    }
  }
}
.ivu-tree-title-hover {
  display: inline-block;
  width: 100%;
  height: 22px;
  line-height: 22px;
  cursor: pointer;
  &:hover {
    background: #ebf7ff;
  }
}
